{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
	var key = '{{ key }}';
</script>
<div id="stage1">
	<div class="card">
		<label for="username">Join</label><br>
		<input type="text" id="username" name="username" placeholder="Username"><br>
		<button type="button" onclick="join(key);">Join <i class="bi bi-play"></i></button>
	</div>
	<div class="list-wrapper">
		<h1>Joined users</h1>
		<div class="list users">
			<h3><i class="bi bi-person-circle"></i> You (host)</h3>
			<h3><i class="bi bi-person-circle"></i> Janka</h3>
			<h3><i class="bi bi-person-circle"></i> Jožo</h3>
			<h3><i class="bi bi-person-circle"></i> Juraj</h3>
			<h3><i class="bi bi-person-circle"></i> Jakarta lmao xddd</h3>
		</div>
	</div>
</div>
<div id="stage2">
	<p>Stage2</p>
</div>

	{% endblock content %}

{% block javascript %}{% endblock javascript %}