{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
	var key = '{{ key }}';
</script>

<div class="card">
	<label id="title">Waiting for host</label>
</div>

<div class="list-wrapper">
	<h1>Joined users</h1>
	<div id="list-users" class="list users frosted">
		<!--Here will be users when they join ;P-->
	</div>
</div>

<div class="list-wrapper">
	<h1>Restaurants</h1>
	<div id="list-restaurants" class="list restaurants frosted">
		<!--Here will be restaurants when they update-->
	</div>
</div>

<div class="list-wrapper">
	<h1>Menu</h1>
	<div id="list-food" class="list menu frosted">
		<!--Here will be food when it updates-->
	</div>
</div>

{% endblock content %}

{% block javascript %}{% endblock javascript %}