{% extends "include/base.html" %}

{% block title %}Domov{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script>
	var key = '{{ key }}';
</script>

<div class="card">
	<label id="title">Waiting for host</label>
</div>
<div class="list-wrapper">
	<h1>Joined users</h1>
	<div id="list-users" class="list users frosted">
		<!--Here will be users when they join ;P-->
	</div>
</div>
<div class="list-wrapper">
	<h1>Restaurants</h1>
	<div id="list-restaurants" class="list restaurants frosted">
		<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_960_720.jpg">
			<div class="restaurants-info">
				<h3>MC Donald's</h3>
				<p>
					<em class="badge bdg-blue">🇺🇸American</em><br>
					<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i><i class="bi bi-star"></i><i class="bi bi-star"></i></em><br>
					<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em><br>
					<i class="bi bi-chevron-double-up"></i>High Cal.<br>
					<i class="bi bi-cup-straw"></i>Drinks<br>
					<i class="bi bi-hourglass-split"></i>30min
				</p>
			</div>
		</div>
	<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2015/04/10/00/41/food-715542_960_720.jpg">
		<div class="restaurants-info">
			<h3>Thai Heaven</h3>
			<p>
				<em class="badge bdg-blue">🇹🇭Thai</em><br>
				<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></em><br>
				<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em><br>
				<i class="bi bi-chevron-double-down"></i>Low Cal.<br>
				<i class="bi bi-cup-straw"></i>Drinks<br>
				<i class="bi bi-hourglass-split"></i>50min
			</p>
		</div>
	</div>
	<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2018/05/01/18/35/bowl-3366480_960_720.jpg">
		<div class="restaurants-info">
			<h3>Pod Dubom</h3>
			<p>
				<em class="badge bdg-blue">🇸🇰Slovak</em><br>
				<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></em><br>
				<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em><br>
				<i class="bi bi-chevron-double-down"></i>Low Cal.<br>
				<i class="bi bi-cup-straw"></i>Drinks<br>
				<i class="bi bi-hourglass-split"></i>60min
			</p>
		</div>
	</div>
	</div>
</div>

<div class="menu-wrapper">
	<h1>Menu</h1>
	<div id="list-restaurants" class="list menu frosted">
		<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2016/03/05/19/02/hamburger-1238246_960_720.jpg">
		<div class="menu-info">
			<h3>Big Mac</h3>
			<p>
				<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i><i class="bi bi-star"></i><i class="bi bi-star"></i></em>
				<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em>
				<i class="bi bi-chevron-double-up" style="margin-left: 10px;"></i>High Cal.
			</p>
		</div>
	</div>
	<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2015/04/10/00/41/food-715542_960_720.jpg">
		<div class="menu-info">
			<h3>Thai Heaven</h3>
			<p>
				<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></em>
				<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em>
				<i class="bi bi-chevron-double-down" style="margin-left: 10px;"></i>Low Cal.
			</p>
		</div>
	</div>
	<div class="frosted">
		<img src="https://cdn.pixabay.com/photo/2018/05/01/18/35/bowl-3366480_960_720.jpg">
		<div class="menu-info">
			<h3>Halušky s bryndzou</h3>
			<p>
				<em class="badge bdg-orange"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></em>
				<em class="badge bdg-green"><i class="bi bi-flower1"></i>Vegan </em>
				<i class="bi bi-chevron-double-down" style="margin-left: 10px;"></i>Low Cal.
			</p>
		</div>
	</div>
	</div>
</div>

{% endblock content %}

{% block javascript %}{% endblock javascript %}