body {
	margin: 0px;
	padding: 0px;
	background: #12c2e9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-position: fixed;

}
.wrapper {
	width: 100%;
	height: 100%;
}
.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.frosted {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;

}

.frosted:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(10px);
	margin: -20px;
}
nav {
	display: flex;
	width: 100%;
	min-height: 6em;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Kiwi Maru', serif;
	border-radius: 0em 0em 2em 2em;
}
nav ul {
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
nav .nav-top {
	min-height: 8em;
	border-radius: 0em 0em 2em 2em;
}
nav .nav-bottom {
	justify-content: center;
	min-height: 4em;
}
nav li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
nav .nav-desktop {
	display: none;
}
nav li a {
	text-decoration: none;
	padding: 0em 0.6em 0.4em 0.6em;
}
nav .nav-bottom li a {
	color: white;
	font-size: 3em;

}
nav .nav-top li a {
	color: white;
	font-size: 5.5em;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30em;
	border-radius: 0em 0em 2em 2em;
	font-family: 'Roboto', sans-serif;
}
.card label {
	font-size: 5em;
	color: white;
}
.card input, .card button {
	border: solid 1px rgba(240,240,240,1);
	font-size: 2em;
	border-radius: 0.5em;
	background-color: white;
	padding: 1em;
	margin-bottom: 0.5em;
}
.card input[type=text] {
	width: 80%;
	font-size: 3em;
}
.card button {
	font-size: 2.5em;
}
.card button:hover {
	filter: brightness(.9);
	cursor: pointer;
}
.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-family: 'Roboto', serif;
	min-height: 10em;
}
.list-wrapper h1 {
	font-size: 4em;
	color: white;
}
.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-radius: 1.5em;
	padding-bottom: 3em;
}

.restaurants div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 92%;
	height: 25em;
	margin-top: 3em;
	border-radius: 1.5em;
	text-decoration: none;
}
.restaurants div img { 
	width: 40%;
	border-radius: 1.5em;
	max-height: 18em;
}
.restaurants div .restaurants-info {
	font-family: 'Roboto', serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2em;
	color: #003049;
	width: 50%;
	height: 100%;
}
.restaurants div .restaurants-info h3 {
	margin:0px;
	margin-top: 0.1em;
}
.restaurants div .restaurants-info p {
	columns: 2;
	line-height: 2.2em;
}
.restaurants div:hover {
	filter: brightness(.9);
	cursor: pointer;
}
.users h3 {
	width: 80%;
	padding: 1em;
	margin-top: 2em;
	color: #003049;
	font-size: 2em;
	border-radius: 1.5em;
}
.users h3:hover {
	filter: brightness(.9);
	cursor: pointer;
}
.badge {
	padding: 0.4em;
	border-radius: 1.5em;
}
.bdg-blue {
	background-color: #003049;
	color: white;
}
.bdg-orange {
	background-color: #F77F00;
	color: white;
}
.bdg-green {
	background-color: #23B65E;
	color: white;
}

.menu div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 92%;
	height: 15em;
	margin-top: 1em;
	border-radius: 1.5em;
	text-decoration: none;
}
.menu div img { 
	width: 25%;
	border-radius: 1.5em;
	max-height: 18em;
}
.menu div .menu-info {
	font-family: 'Roboto', serif;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2em;
	color: #003049;
	width: 60%;
	height: 100%;
	display: flex;
	margin-right: 30px;
}
.menu div .menu-info h3 {
	margin:0px;
	margin-top: 0.1em;
}
.menu div .menu-info p {
	line-height: 2.2em;
}
.menu div:hover {
	filter: brightness(.9);
	cursor: pointer;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-radius: 1.5em;
	padding-bottom: 3em;
	padding-top: 3em;
}

.result-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-family: 'Roboto', serif;
	min-height: 95em;
}
.result-wrapper h1 {
	font-size: 4em;
	color: white;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-radius: 1.5em;
	padding-bottom: 3em;
}

.result div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 92%;
	height: 25em;
	margin-top: 3em;
	border-radius: 1.5em;
	text-decoration: none;
}

.result div img { 
	width: 40%;
	border-radius: 1.5em;
	max-height: 18em;
}
.result div .result-info {
	font-family: 'Roboto', serif;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	font-size: 2em;
	color: #003049;
	width: 50%;
	height: 100%;
}
.result div .result-info h3 {
	margin:0px;
	margin-top: 0.1em;
}
.result div .result-info p {
	columns: 2;
	line-height: 2.2em;
}
.result div:hover {
	filter: brightness(.9);
	cursor: pointer;
}

@media only screen and (min-width: 759px) {
	.wrapper {
		width: 80%;
		margin-left: auto;
		margin-right: auto;

	}
}
